name: Report

on:
  schedule:
    - cron: "0 11 * * *"
  workflow_dispatch:

env:
  EMAIL_USER: ${{ secrets.EMAIL_USER }}
  EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
  EMAIL_USER_RECIPIENT: ${{ secrets.EMAIL_USER_RECIPIENT }}
  ACCUWEATHER_API_KEY: ${{ secrets.ACCUWEATHER_API_KEY }}
  TENOR_API_KEY: ${{ secrets.TENOR_API_KEY }}

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12

      - run: npm ci --frozen-lockfile

      - run: node src/main.js
